
<!--   THIS WILL SHOW AN ITEM FOR EACH POST ON THE BLOG.
create a loop to show each post for all posts 
NOT WORKING, TEMPLATED ONLY-->

<!-- post -->

    <div class="container">
      <div class="row">


        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              
            <% @posts.each do |post| %>
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="/post/<%= post.id%>"><img src="img/blog-post-1.jpeg" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                     <div class="date meta-last"><%= post.created_at.strftime("%B | %d")%></div>
                    <div class="category"><a href="#">Tags, Here</a></div>
                  </div><a href="/post/<%= post.id%>">
                    <h3 class="h4"> <%= post.title %></h3></a>
                  <p class="text-muted"> <%= post.content.truncate_words(23) %> <a href="/post/<%= post.id%>">read more</a></p>
                  <footer class="post-footer d-flex align-items-center"><a href="/users/<%= post.user.id%>" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                      <div class="title"><span><%= post.user.name%></span></div></a>
                    <div class="date"><i class="icon-clock far fa-clock"></i> 6 days ago</div>
                    <div class="comments meta-last"><i class="icon-comment far fa-comment-alt"></i>12</div>
                  </footer>
                </div>
              </div>
             <% end %>
              
            </div>
          </div>
        </main>



