<!-- TEMPLATE FOR EACH INDIVIDUAL BLOG POST -->
<!-- THIS IS A PLACEHOLDER, WILL HAV TO CREATE VARIABLES TO -->
<!-- PULL SPECIFIC INFO TO DISPLAY FOR EACH POST IN THE BLOG -->



  <!-- BLOG POST DETAILS: TITLE, AUTHOR, TAGS, DATE, PIC, POST TIME/DATE, VIEWS/COMMENTS, ETC -->


    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">

            <div class="post-single">
              <div class="post-thumbnail"><img src="/img/pr-onpalmtree.jpg" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category"><a href="#">Tags</a>, <a href="#">Another</a></div>
                </div>
                <h1> <%=@specific_post.title %><a href="#"><i class="fa fa-bookmark-o"></i></a></h1>

                
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                  <a href="/user/<%= @specific_post.user.id%>" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                    <div class="title"><span><%= @post_author.name %></span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock far fa-clock"></i> 2 months ago</div>
                    <div class="views"><i class="icon-eye far fa-eye"></i> 294</div>
                    <div class="comments meta-last"><i class="icon-comment far fa-comment-alt"></i>12</div>
                  </div>
                </div>
                <div class="post-body">
                  <p class="lead"> <%=@specific_post.content %> </p> 
                  
                  <p> <%=@specific_post.content %></p>
                </div>

              </div>
            </div>
          </div>
        </main>